@model ETT.Web.Models.Report.ReportViewModel

@{
    Layout = null;
}
<div class="input-field col s12 m6">
    <select id="create-task-options" multiple>
        <option value="" disabled selected>@Localizer["ChooseTask"]</option>
        @foreach (var task in Model.Tasks)
        {
            <option value="@task.Id">@task.Name</option>
        }
    </select>
    <label>@Localizer["TaskName"]</label>
</div>
<div class="input-field col s12 m6">
    <select id="create-user-options" multiple>
        <option value="" disabled selected>@Localizer["ChooseUser"]</option>
        @foreach (var user in Model.Users)
        {
            <option value="@user.UserId">@user.Email</option>
        }
    </select>
    <label>@Localizer["UserName"]</label>
</div>
