@model ETT.Web.Models.Projects.DetailsViewModel

@{
    Layout = null;
}

<div class="container">
    <div class="row">
        <div class="col s12">
            <h4>@Model.Name</h4>
        </div>
        <div class="col s12">
            <p class="paragraphs">@Model.Description</p>
        </div>
        <div class="col s12">
            <p>
                @if (Model.Admin)
                {
                    <button id="btn-project-edit" onclick="ProjectEdit(@Model.Id)" type="button" class="btn @Design.Color">@Localizer["Edit"]</button>
                }
                <a asp-action="List"><input type="button" class="btn @Design.Color" value="@Localizer["Back"]"></a>
                @if (Model.Owner)
                {
                    <button id="btn-project-delete" onclick="ProjectDelete(@Model.Id)" type="button" class="btn right red darken-2">@Localizer["Delete"]</button>
                }
            </p>
        </div>
    </div>
</div>
